<main class="container">
  <h1 class="text-center">Portfolio</h1>
  <hr/>
  <div class="row">

	<div class="col-sm-6 col-lg-3 text-center">
	  <div class="thumbnail portfolio-item">
		<%= image_tag "placeholder.jpg" %>
		<h4 class="text-muted">The best is yet to come...</h4>
	  </div>
	</div>

	<div class="col-sm-6 col-lg-3 text-center">
	  <div class="thumbnail portfolio-item">
		<%= image_tag "placeholder.jpg" %>
		<h4 class="text-muted">The best is yet to come...</h4>
	  </div>
	</div>

	<div class="col-sm-6 col-lg-3 text-center">
	  <div class="thumbnail portfolio-item">
		<%= image_tag "placeholder.jpg" %>
		<h4 class="text-muted">The best is yet to come...</h4>
	  </div>
	</div>

	<div class="col-sm-6 col-lg-3 text-center">
	  <div class="thumbnail portfolio-item">
		<%= image_tag "placeholder.jpg" %>
		<h4 class="text-muted">The best is yet to come...</h4>
	  </div>
	</div>

  </div>
  <div class="row">

	<div class="col-sm-6 col-lg-3 text-center">
	  <div class="thumbnail portfolio-item">
		<%= image_tag "placeholder.jpg" %>
		<h4 class="text-muted">The best is yet to come...</h4>
	  </div>
	</div>

	<div class="col-sm-6 col-lg-3 text-center">
	  <div class="thumbnail portfolio-item">
		<%= image_tag "placeholder.jpg" %>
		<h4 class="text-muted">The best is yet to come...</h4>
	  </div>
	</div>

	<div class="col-sm-6 col-lg-3 text-center">
	  <div class="thumbnail portfolio-item">
		<%= image_tag "placeholder.jpg" %>
		<h4 class="text-muted">The best is yet to come...</h4>
	  </div>
	</div>

	<div class="col-sm-6 col-lg-3 text-center">
	  <div class="thumbnail portfolio-item">
		<%= image_tag "placeholder.jpg" %>
		<h4 class="text-muted">The best is yet to come...</h4>
	  </div>
	</div>

  </div>
</main>
